{% extends 'base.html' %}
{% block title %}Welcome to the WC!{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for writing in writing_list %}
                        <div class="col-md-6">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        {% if "placeholder" in writing.featured_image.url %}
                                            <img src="https://res.cloudinary.com/dxn1jm08k/image/upload/v1695738133/successful-computer-gadget-digital-close_yho1rp.jpg"
                                                alt="writing_default" class="img-fluid rounded-start">
                                        {% else %}
                                            <img src="{{ writing.featured_image.url }}" alt="writing_image" class="img-fluid rounded-start">
                                        {% endif %}
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <a href="{% url 'writing_detail' writing.slug %}" class="post-link">
                                                    <h5 class="card-title">{{ writing.title }}</h5>
                                                </a>
                                                <p class="card-text">{{ writing.abstract|safe }}</p>
                                                <p class="card-text">
                                                    <small class="text-body-secondary">Author: {{ writing.author }} &#124; </small>
                                                    <small class="text-body-secondary">Genre: {{ writing.main_genre }}</small>
                                                </p>
                                                <hr>
                                                <p class="card-text text-muted h6">
                                                    {{ writing.created_on }} &#160;&#160;&#160;
                                                    <i class="far fa-heart"></i>
                                                    {{ writing.total_likes }} &#160;&#160;
                                                    <i class="far fa-comments"></i>
                                                    {{ writing.total_comments }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% if forloop.counter|divisibleby:2 %}
                        </div>
                        <div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
{% endblock %}